<footer class="footer">
    <div class="footer-inner">
        <div class="footer-left">
            &copy; <span id="year"></span> Zachary Holmes. Built with focus, curiosity, and a business mindset.
        </div>

        <div class="footer-right">
            <a class="footer-link footer-btn" href="mailto:zah00004@mix.wvu.edu">Email Me</a>
            <span class="footer-sep">|</span>
            <a class="footer-link footer-btn" href="https://www.linkedin.com/in/zachary-a-holmes-963750240" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <span class="footer-sep">|</span>
            <a class="footer-link footer-btn" href="files/ZacharyHolmes_Resume_02052026.pdf" target="_blank" rel="noopener noreferrer">Resume</a>
        </div>
    </div>
</footer>
