<header class="header">
    <nav class="nav">
        <a href="index.html" class="nav-logo">Zachary Holmes</a>

        <ul class="nav-list">
            <li class="nav-items">
                <a href="index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-items">
                <a href="projects.html" class="nav-link">Projects</a>
            </li>
            <li class="nav-items">
                <a href="about.html" class="nav-link">About</a>
            </li>
            <li class="nav-items">
                <a href="contact.html" class="nav-link">Contact</a>
            </li>
        </ul>
    </nav>
</header>
